@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

@font-face {
    font-family: "Calluna";
    src: url("./fonts/Calluna\ Regular.otf");
}

@font-face {
    font-family: "Freight";
    src: url("./fonts/Freight\ Sans\ Light.otf");
}

body, html {
    height: 100%;
    margin: 0;
    /* font-family: "Calluna", serif; */
    font-style: normal;
    font-weight: 300;
    overflow: hidden;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#quote {
    background-color: rgba(32, 77, 92, 0.3);
    border-radius: 2em;
    padding: 2.3em;
    color: white;
}

#quoteBox {
    left: 10%;
    position: absolute;
    max-width: 30em;
    margin: 0 auto;
    width: 80%;
    top: 13%;
    font-size: 2em;
    color: white;
    box-shadow: 5px 8px #000000;
    border-radius: 2em;
    transition: opacity 2.5s ease-in-out;
}

/* #quoteBox:hover{
    box-shadow: 5px 8px rgb(219, 161, 161);
} */

#qotd {
    font-family: "Calluna";
    font-size: 2.3rem;
    text-align: left;
}

#author {
    font-family: "Freight";
    font-size: 2rem;
    text-align: right;
    /* display: inline-block; */
    /* border: 2px solid black;
    border-radius: 20px;
    padding: 20px; */
}

#welcome_message {
    text-align: center;
    font-family: "Freight";
    font-size: 3rem;
    margin-top: 0;
}

#clock {
    font-size: calc(20px + 7.5vw);
    transition: transform 330ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#explanation {
    /* left:40%; */
    position: relative;
    /* max-width: 30em; */
    text-align: center;
    margin: 0 auto;
    width: 80%;
    bottom: 5%;
    font-size: 2em;
    color: white;
    border-radius: 2em;
    transition: opacity 2.5s ease-in-out;
}

.settingsButton {
    position: absolute;
    bottom: 0vh;
    right: 0vw;
    margin: 20px;
    background-image: url("images/settings.svg");
    padding: 1.4em;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.settingsButton:hover {
    transform: scale(1.2);
}

.modal {
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 30%;
}

.modal-content p {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-header{
    padding: 5em;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* #fname {
    width: 30%;
    height: 30px;
    margin-left: 20px;
    font-size: 1.8em;
} */

.labels {
    font-size: 2em;
}

#favcolor {
    margin-left: 10px;
}

#chartBox {
    border-radius: 2em;
    padding: 3em;
    color: white;
}

.chip {
    margin-top: 5%;
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: lightblue;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

.hide{
    display: none;
}

.avoid-clicks {
    pointer-events: none;
  }

/* 
#chart{
    right:10%;
    position: absolute;
    max-width: 30em;
    margin: 0 auto;
    width: 80%;
    top:13%;
    font-size: 2em;
    color:white;

    border:2px solid black;
    border-radius: 2em;

    /* transition: opacity 2.5s ease-in-out; s
    background-color: rgba(32, 77, 92, 0.5);

} 

*/